body {
  background-color: #f8f9fa;
}

.nav-link {
  color: #495057;
}

.nav-link.active {
  background-color: #0d6efd;
  color: #fff !important;
}

.nav-link:hover {
  background-color: #e9ecef;
}

aside {
  position: sticky;
  top: 0;
  height: 100vh;
}
